body {
    background-color: #fff;
}

header, main, footer {
    background-color: #dce1e3;
}


/* header */
header {
    border-radius: 20px 20px 0 0;
    position: relative;
}

header a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin-right: 40px;
}

header .right-block {
    position: absolute;
    right: 0;
}

.menu {
    display: inline-block;
}

/* main */
main h2 {
    color: var(--secondary-color);
    font-size: 16px;
    margin: 20px 0;
}

main h1 {
    color: var(--main-color);
    font-size: 35px;
    line-height: 35px;
    margin-right: 20px;
}

.main-text {
    display: inline-block;
    width: 40%;
    float: left;
    margin-bottom: 20px;
}

/* footer */

footer {
    border-radius: 0 0 20px 20px;
}
    footer h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    footer .product {
        background-color: #fff;
    }