* {
	border: 1px solid lightgrey;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 100px;
}

	.container {
		display: grid;
		width: 1000px;
		margin-left: calc(50% - 500px);
		grid-template-columns: 3fr 6fr;
	}

		.right-block {
			grid-column: 2/3;
		}

		.left-block {
			grid-column: 1/2;
		}